* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1;
  app-region: drag;
  user-select: none;
}

.chat-box .text {
  word-break: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.chat-box table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    padding: 5px;
    border: 1px solid #555555;
  }
}
